.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.02), rgba(0,0,0,0.02)), url("images/1613369591518_DSC_3302_resize.JPG");
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 713px;
  margin: 55px auto 40px 34px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 551px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  animation-duration: 1000ms;
  margin: 139px -140px 0 -30px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 1.125rem;
  margin: 10px -104px 0 -30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 424px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 266px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 0%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 184px;
    margin-left: auto;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 36px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 7px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
    margin-left: 7px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 606px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 321px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 403px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 152px;
    margin-right: -26px;
    margin-left: -10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 10px;
    margin-bottom: -175px;
    margin-left: -10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 27px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 108px;
  }
}.u-section-2 {
  min-height: 796px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 723px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 215px 30px 150px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem;
  animation-duration: 1000ms;
  line-height: 0.8;
  margin: 60px 211px 0 0;
}

.u-section-2 .u-line-1 {
  width: 215px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  animation-duration: 1750ms;
  margin: 20px 0 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  animation-duration: 1000ms;
  margin: 75px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 691px;
  background-image: none;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 499px;
  height: 561px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  animation-duration: 1000ms;
  margin: 0 auto 0 -188px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 669px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 596px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 90px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 110px;
  }

  .u-section-2 .u-line-1 {
    width: 105px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 510px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 80px;
    padding-left: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-2 .u-image-1 {
    height: 337px;
    width: 301px;
    margin-top: 30px;
    margin-left: -60px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1067px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -451px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 894px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 380px;
    height: 439px;
    margin-top: -73px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 736px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -10px;
    margin-left: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 30px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 563px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 348px;
    margin-top: -51px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-image-1 {
  min-height: 343px;
  background-image: url("images/DSC_3304_resize.JPG");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 343px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 55px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-3 .u-image-2 {
  min-height: 343px;
  background-image: url("images/DSC_3305_resize.JPG");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 343px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-3 .u-text-4 {
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-3 .u-image-3 {
  min-height: 343px;
  background-image: url("images/1613369591518_DSC_3302_resize.JPG");
  background-position: 50% 19.38%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  min-height: 343px;
  background-image: url("images/DSC_3303_resize.JPG");
  background-position: 50% 0%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-image-1 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 283px;
  }

  .u-section-3 .u-image-2 {
    min-height: 283px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-3 .u-image-3 {
    min-height: 283px;
  }

  .u-section-3 .u-image-4 {
    min-height: 283px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-3 .u-image-1 {
    min-height: 217px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 217px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 434px;
  }

  .u-section-3 .u-image-3 {
    min-height: 434px;
  }

  .u-section-3 .u-image-4 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2452px;
  }

  .u-section-3 .u-image-1 {
    min-height: 279px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 391px;
  }

  .u-section-3 .u-image-2 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 651px;
  }

  .u-section-3 .u-image-3 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    min-height: 651px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1626px;
  }

  .u-section-3 .u-image-1 {
    min-height: 176px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 246px;
  }

  .u-section-3 .u-image-2 {
    min-height: 410px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 410px;
  }

  .u-section-3 .u-image-3 {
    min-height: 410px;
  }

  .u-section-3 .u-image-4 {
    min-height: 410px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 724px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 35px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 157px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-4 .u-gallery-1 {
  height: 296px;
  grid-template-columns: auto auto auto auto;
  grid-gap: 20px 20px;
  margin: 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-back-image-2 {
  object-position: 75.16% 50%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-text-2 {
  font-size: 0.9375rem;
  animation-duration: 1000ms;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-4 .u-gallery-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1119px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-gallery-1 {
    height: 748px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2632px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-gallery-1 {
    height: 2244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1891px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 88px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 5px;
  }

  .u-section-4 .u-gallery-1 {
    height: 1413px;
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 27px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/bw_1.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 411px;
}

.u-section-5 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 158px;
  min-width: 94px;
  margin: 60px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.5rem;
  width: 646px;
  margin: 29px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 339px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 195px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 123px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1557px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  animation-duration: 1000ms;
  margin: 69px 0 0 529px;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 20px 641px 0 0;
}

.u-section-6 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.0625rem;
  margin: 12px 334px 0 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 16px auto 60px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/1613369591518_DSC_3302_resize.JPG");
  min-height: 515px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-2 {
  background-image: url("images/IMG_20210215_171857.jpg");
  min-height: 498px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-3 {
  background-image: url("images/DSC_3304_resize.JPG");
  min-height: 330px;
  background-position: 100% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 315px;
}

.u-section-6 .u-container-layout-4 {
  padding-left: 20px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 9.125rem;
  animation-duration: 1000ms;
  margin: 20px 163px 0 0;
}

.u-section-6 .u-text-5 {
  animation-duration: 1000ms;
  font-size: 0.9375rem;
  margin: 30px 20px 20px 0;
}

.u-section-6 .u-image-4 {
  background-image: url("images/IMG_20210215_171559.jpg");
  min-height: 368px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-image-5 {
  background-image: url("images/DSC_3303_resize.JPG");
  min-height: 515px;
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-6 .u-layout-cell-7 {
  min-height: 582px;
  background-image: none;
}

.u-section-6 .u-container-layout-7 {
  padding-left: 0;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  font-size: 9.125rem;
  animation-duration: 1000ms;
  margin: 20px 163px 0 20px;
}

.u-section-6 .u-text-7 {
  animation-duration: 1000ms;
  font-size: 0.9375rem;
  margin: 30px 28px 0 12px;
}

.u-section-6 .u-image-6 {
  height: 189px;
  margin-top: 52px;
  margin-bottom: 0;
  animation-duration: 1000ms;
}

.u-section-6 .u-link-1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  margin: 52px auto 0 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-left: 329px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-right: 441px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 134px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 486px;
  }

  .u-section-6 .u-image-2 {
    min-height: 473px;
  }

  .u-section-6 .u-image-3 {
    min-height: 287px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 354px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-4 {
    font-size: 8rem;
    width: auto;
    margin-right: 77px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 16px;
    margin-bottom: 0;
  }

  .u-section-6 .u-image-4 {
    min-height: 317px;
  }

  .u-section-6 .u-image-5 {
    min-height: 415px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 480px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 16px;
  }

  .u-section-6 .u-text-6 {
    font-size: 8rem;
    width: auto;
    margin-right: 69px;
    margin-left: 0;
  }

  .u-section-6 .u-text-7 {
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-6 .u-image-6 {
    height: 156px;
  }

  .u-section-6 .u-link-1 {
    position: relative;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 109px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 221px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 299px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 85px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 49px;
    width: NaNpx;
  }

  .u-section-6 .u-text-5 {
    margin-right: 10px;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 44px;
    width: NaNpx;
  }

  .u-section-6 .u-text-7 {
    margin-right: 10px;
  }

  .u-section-6 .u-image-6 {
    height: 358px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 41px;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 449px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 5px;
    padding-right: 40px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 23px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 5px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 5px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 21px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 5px;
  }

  .u-section-6 .u-image-6 {
    height: 269px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1557px;
  }

  .u-section-6 .u-text-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 515px;
  }

  .u-section-6 .u-image-2 {
    min-height: 498px;
  }

  .u-section-6 .u-image-3 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 283px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 6px;
    padding-right: 12px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 49px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 6px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-image-4 {
    min-height: 368px;
  }

  .u-section-6 .u-image-5 {
    min-height: 515px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 6px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 49px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 6px;
  }

  .u-section-6 .u-image-6 {
    height: 169px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 791px;
}

.u-section-7 .u-gallery-1 {
  height: 592px;
  grid-template-columns: repeat(3, auto);
  width: 936px;
  grid-gap: 10px;
  margin: 60px auto 0;
}

.u-section-7 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-7 .u-back-image-1 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-2 {
  object-position: 18.98% 50%;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-3 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-4 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-5 {
  object-position: 50% 0%;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-back-image-6 {
  object-position: 50% 50%;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 30px auto 60px;
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 760px;
  }

  .u-section-7 .u-gallery-1 {
    height: 561px;
    grid-template-columns: repeat(2, auto);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1021px;
  }

  .u-section-7 .u-gallery-1 {
    height: 829px;
    grid-template-columns: repeat(1, auto);
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-7 .u-btn-1 {
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-7 .u-gallery-1 {
    height: 522px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/DSC_3304_resize.JPG");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 701px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 55px auto 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 569px;
  animation-duration: 1000ms;
}

.u-section-8 .u-container-layout-1 {
  padding: 27px 60px 20px;
}

.u-section-8 .u-text-1 {
  background-image: none;
  font-weight: normal;
  margin: 4px 39px 0 -39px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 1.6;
  margin: 6px 39px 0 -39px;
}

.u-section-8 .u-text-3 {
  font-size: 1rem;
  margin: 3px 39px 0 -39px;
}

.u-section-8 .u-form-1 {
  height: 338px;
  margin: 26px -16px 0 -60px;
}

.u-section-8 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -65px auto -12px -46px;
  padding: 17px 40px 19px 39px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 544px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-map-1 {
  animation-duration: 1000ms;
  left: 0;
  right: auto;
}

.u-section-8 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 127px;
  min-width: 100px;
  animation-duration: 1000ms;
  margin: 18px auto 34px 8px;
}

.u-section-8 .u-icon-1 {
  height: 100%;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -475px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-form-1 {
    margin-top: 530px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: -579px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -359px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 414px;
    margin-right: 248px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: -463px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 270px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: -841px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    margin-top: 896px;
    margin-right: 68px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: -945px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 516px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-left: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1129px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 620px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-bottom: 11px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-top: 23px;
    margin-right: -14px;
    margin-left: 14px;
  }

  .u-section-8 .u-form-1 {
    width: 320px;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-8 .u-btn-2 {
    margin-top: -65px;
    margin-right: auto;
    margin-left: 14px;
    padding-top: 15px;
    padding-bottom: 17px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 406px;
  }

  .u-section-8 .u-social-icons-1 {
    margin-top: 29px;
    margin-left: auto;
    margin-bottom: 25px;
  }
}